@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0 auto;
  background-color: #151515;
}
a {
  text-decoration: none;
}
.container {
  /*border: 5px solid red;*/
  height: 89vh;
}

.wheel-spin {
  width: 100%;
  height: 90%;
  background-image:url("../images/landing-spinner.gif");
  background-size: cover;
  background-position: top;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tagline {
  margin: 12px auto;
  text-align: center;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  width: 200px;
  padding: 10px;
  border-radius: 19px;
}

.appear {
  opacity: 1 !important;
}

#play-button {
  opacity: 0;
  background-color: #4684B7;
  color: #FFFFFF;
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 4px;
  font-size: 27px;
  width: 33%;
  text-align: center;
  box-shadow: 0 5px #2C516F;
  margin-bottom: 2%;
  padding: 4% 10%;
  transition: opacity 0.5s ease;
  position: relative;
}

#play-button:hover {
  box-shadow: 0 3.3px #2C516F;
  top: 4px;
}

#howto {
  margin: 10px auto;
  text-align: center;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  color: #151515;
  letter-spacing: 1px;
  margin-bottom: 5%;

}
#howto > p {
  opacity: 0;
  transition: opacity 0.5s ease;
}
#howto > p > a{
  color: black;
  text-decoration: none;
}

#finger {
  margin: 10px auto;
  text-align: center;

}

#finger img {
  display: block;
  margin: 0 auto;
  width: 66px;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
  animation-name: wobble;
  animation-duration: .7s;
  animation-iteration-count: infinite;

}

@-webkit-keyframes wobble {
  from {bottom: 30px;}
  to {bottom: 39px;}
}


.howto-vid {
  /*border: 5px solid blue;*/
  margin: 20px;
  height: 100vh;
}

@media (min-width: 800px) {
  .wheel-spin {
    width: 800px;
    height: 800px;
    margin-top: 10px;
  }
  #play-button {
    padding: 2% 0;
    border-radius: 29px;
    width: 30%;
  }
  .howto-vid {
  /*border: 5px solid blue;*/
  margin: 200px;
  height: 100vh;
  }
}
