@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  background-color: #151515;
  margin: 0;
}

/*
@keyframes appearButton {
  0% {
    opacity:0;
    transition: all opacity 1s linear;
  }
  100% {
    opacity: 1;
  }
}*/

#play-button {
  opacity: 0;
  position: absolute;
  bottom: 17.5%;
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 5px;
  background-color: white;
  padding: 22px 53px;
  display: block;
  border-radius: 35px;
  font-size: 22px;
  box-shadow: 0px 0px 105px 6px rgba(0,0,0,.33);
  color: #151515;
  transition: opacity 0.5s ease;
}

/* THIS CLASS IS TRIGGERED BY JAVASCRIPT */
.appear {
  opacity: 1 !important;
}

.center-div {
  background-color: #151515;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.center-div h2 {
  font-size: 27px;
  font-family: 'Comfortaa', cursive;
  color: white;
  letter-spacing: 2px;
 /* transition: ease .2s;
  transition-delay: 3.3s;*/
}

.top-banner {
  background-image: url(images/landing-logo-spin.gif);
  background-size: cover;
  height: 700px;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#howto {
  position: absolute;
  margin: 10px auto;
  text-align: center;
  bottom: 6%;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
  color: #151515;
  letter-spacing: 3px;
  /*transition: ease .2s;
  transition-delay: 3.3s;*/
}
#howto > p {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#finger {
  font-size: 77px;
  position: absolute;
  margin: 10px auto;
  text-align: center;
  bottom: -9%;

}


.top-banner img {
  position: absolute;
  height: 50%;
  width: 50%;
  bottom: 46%;
  left: 24%;
  margin: 0 auto;
}

.tagline {
  margin: 12px auto;
  text-align: center;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  width: 200px;
  padding: 10px;
  border-radius: 12px;
  position: absolute;
  bottom: 27.6%;

}

.tagline p {
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.4em;
}

.belly {
  margin: 44px auto;
  width: 90%;
}

.howto-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.howto-left img {
  height: 70px;
  width: 70px;
  object-fit: cover;

}

.howto-left p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: left;
  line-height: 1.2em;
  padding-left: 20px;
}

.howto-right {
display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.howto-right img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.howto-right p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: left;
  line-height: 1.2em;
  padding-left: 20px;
