@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0 auto;
  background-color: #151515;
}

.container {
  /*border: 5px solid red;*/
  height: 89vh;
}

.wheel-spin {
  /*border: 5px solid green;*/
  width: 50%;
  height: 100%;
  background-image:url("images/landing-spinner.gif");
  background-size: cover;
  background-position: top;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tagline {
  margin: 12px auto;
  text-align: center;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  width: 200px;
  padding: 10px;
  border-radius: 12px;
}

.appear {
  opacity: 1 !important;
}

#play-button {
  opacity: 0;
  background-color: #68C84D;
  color: #151515;
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 4px;
  font-size: 27px;
  width: 33%;
  text-align: center;
  box-shadow: 0 5px #549E3F;
  margin-bottom: 2%;
  padding: 4% 10%;
  transition: opacity 0.5s ease;
}

#play-button:hover {
  box-shadow: none;
  top: 2px;
}

#howto {

  margin: 10px auto;
  text-align: center;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  color: #151515;
  letter-spacing: 1px;
  margin-bottom: 5%;
/*  transition: ease .2s;
  transition-delay: 3.3s;*/
}
#howto > p {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#finger {
  position: relative;
  margin: 10px auto;
  text-align: center;
  bottom: 37px
}

#finger img {
  display: block;
  margin: 0 auto;
  width: 66px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.howto-vid {
  border: 5px solid blue;
  height: 100vh;
}

@media (max-width: 800px) {
  .wheel-spin {
    width: 100%;
    height: 90%;
    margin-top: 7px;
  }
 /* #play-button {

  background-color: #68C84D;
  color: #151515;
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 3px;
  font-size: 27px;
  width: 60%;
  text-align: center;
  box-shadow: 0 5px #549E3F;
  margin-bottom: 25px;
  padding: 4% 10%;*/
}

/*@media (max-width: 1200px) {
  .wheel-spin {
    width: 100%;
  }
}

@media (max-width: 380px) and{
  .wheel-spin {
    width: 100%;
    height: 90%;
    margin-top: 7px;
    border: 10px solid red;
  }

}*/
